body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 0px;
  height: 79px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-line;
  height: 80px;
  border-top: 1px solid white;
  ;
}

.hour {
  background-color: #ffffff;
  padding-right: 5px;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
}

.past {
  background-color: #d3d3d3;
  color: black;
}

.present {
  background-color: #ffe261;
  color: black;
}

.future {
  background-color: #77dd77;
  color: black;
}

.saveBtn {
  font-size: x-large;
  padding-top: 0px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(87, 231, 200);
  color: white;
}

.saveBtn:hover {
  padding-top: 0;
  font-size: 40px;
  transition: all .5s ease-in-out;
}

.oi {
  top: 0px;
  bottom: 0;
}

ul {
  list-style: none;
  height: 79px;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 0;

}

div {
  padding-right: 0;
}

svg {
  display: none;
}

.listItem {
  height: 79px;
  width: 760px
}

input {
  height: 79px;
  background: transparent;
  border: none;
  display: flex;
}

.list-group {
  padding-right: 0;
}
